<header class="header">
  <a class="header__left header__home-link" routerLink="/">
    <div class="header__logo">SM</div>

    <div class="header__brand">
      <h1>Simulador de Mapa</h1>
      <p>Plataforma de visualización y análisis</p>
    </div>
  </a>

  <nav class="header__nav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Inicio
    </a>
    <a routerLink="/methods" routerLinkActive="active"> Métodos </a>

    <a *ngIf="auth.isLoggedIn()" routerLink="/reservas" routerLinkActive="active"> Reservas </a>

    <a *ngIf="auth.hasRole('RESPONSABLE')" routerLink="/data" routerLinkActive="active"> Datos </a>
    <a *ngIf="auth.hasRole('RESPONSABLE')" routerLink="/management" routerLinkActive="active">
      Gestión
    </a>

    <div class="header__auth">
      <ng-container *ngIf="!auth.isLoggedIn(); else userBox">
        <a routerLink="/login" class="btn-login">Entrar</a>
      </ng-container>
      <ng-template #userBox>
        <div class="user-info">
          <span class="user-name">{{ auth.currentUser()?.name }}</span>
          <button (click)="logout()" class="btn-logout">Salir</button>
        </div>
      </ng-template>
    </div>
  </nav>
</header>
